# Secrets and environment variables
.env

# Local Databases (Crucial so you don't leak user data)
database/user_profiles.db

# Python caching
__pycache__/
*.pyc

# Streamlit local state
.streamlit/config.toml
.streamlit/secrets.toml